@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


* {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.containerSobre {
    color: rgb(5, 156, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.containerSobre > h1 {
    opacity: 0.8;
    color: rgb(6, 214, 124);
    font-size: 3em;
    margin-top: 100px;
    margin-bottom: 90px;
    flex-wrap: wrap;

}

.containerSobre>h3 {
    opacity: 0.8;
    font-size: 1.5em;
    flex-wrap: wrap;
}


.h2sobre > h2{
    opacity: 0.8;
    color: rgb(6, 214, 124);
    font-size: 3em;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 3em;
}


.colunas {
    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    display: flex;
    gap: 30px;
    
}

.ling {
    flex-wrap: wrap;
    margin: 10px;
    width: 400px;
    height: 330px;
    opacity: 0.9;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid white;
    border-radius: 16px;
    background-color: rgb(2, 109, 109);
    transition: 0.6s;
}


.incon {
    flex: 0px 0 250px; /* largura fixa de 250px */
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.lista {
    margin: 10px auto;
    flex-wrap: wrap;
    
    
}

.lista > i {
    display: block;
    font-size: 1.5em;
    flex-direction: column;
    transition: 0.6s;

}

.ling > h3 {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;

}
.lista > i:hover {
    color: rgb(6, 255, 6);
    transform: scale(1.2) rotate(-10deg);
}

.ling:hover {
    box-shadow: rgba(27, 251, 2, 0.395) 0px 5px 55px, rgba(27, 251, 2, 0.581) 0px -12px 30px, rgba(2, 255, 44, 0.548) 0px 4px 6px, rgba(27, 251, 2, 0.647) 0px 12px 13px, rgba(27, 251, 2, 0.542) 0px -3px 5px;
    transform: scale(1.1);
}